<div class="teacherData">

  <h2>  <img [ngSrc]="imageSrc()" width="40" height="20" alt="This is the icon logo of Angular" /> College Teacher Information   <img [ngSrc]="imageSrc()" width="40" height="20" alt="This is the icon logo of Angular" /></h2>
    <form>
  <label for="fName">First Name:</label>
  <input type="text" id="fName" name="fName" [(ngModel)]="teacher.fName" required><br><br>

  <label for="lName">Last Name:</label>
  <input type="text" id="lName" name="lName" [(ngModel)]="teacher.lName" required><br><br>

  <p>Employment Term:</p>
  <label>
    <input type="radio" name="terms" value="Full-time" [(ngModel)]="teacher.terms" required> Full-time
  </label>
  <label>
    <input type="radio" name="terms" value="Part-time" [(ngModel)]="teacher.terms"> Part-time
  </label>
    <label>
      <input type="radio" name="terms" value="Parial Load" [(ngModel)]="teacher.terms"> Partial Load
    </label>
    <label>
      <input type="radio" name="terms" value="Seasonal" [(ngModel)]="teacher.terms"> Seasonal
    </label>
  <br><br>

  <button (click)="onSubmit()" type="submit">Submit</button>
</form>
</div>
